<div class="show-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
        <h1><%= @cocktail.name %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
        <%= cl_image_tag @cocktail.photo, width: 400, height: 300, class: "center-block" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
        <h3>Ingredients:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
        <table>
        <% @cocktail.doses.each do |dose| %>
          <% if dose.description == 1 %>
            <tr><td>1 dose of <%= dose.ingredient.name %></td><td><%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Do you really want to delete?"} %></td></tr>
          <% else %>
            <tr><td><%= dose.description %> doses of <%= dose.ingredient.name %></td><td><%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Do you really want to delete?"} %></td></tr>
          <% end %>
        <% end %>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
        <h3 style="font: Arial, font-size:20px">Add an ingredient:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
        <%= simple_form_for [@cocktail, @dose], html: { class: "form-inline"} do |f| %>
          <%= f.input :description, label: "Amount:", required: false, as: :integer, input_html: { style: 'width: 80px'} %>
          <%= f.association :ingredient, label: "dose(s) of", prompt: "Select an ingredient", collection: Ingredient.order('name ASC'), required: false  %>
          <%= f.button :submit, name: "commit", value: "Add", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
